@import "tailwindcss";

@theme {
  --color-utama: #045a8c;
  --color-gelap: #0f172a;
  --color-terang: #f8fafc;
}

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  body {
    @apply bg-terang text-gelap transition-colors duration-500 ease-in-out antialiased;
  }
  .dark body {
    @apply bg-gelap text-terang;
  }
}